@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(255, 255, 255);
}
header{
    background-color: rgb(0, 0, 0);
    color: white;
    position: sticky;
    top: 0;
}
header ul{
    display: flex;
}
header ul li{
    height: 40px;
    padding: 17px 50px 0px 50px;
    list-style-type: none;
    font-size: larger;
    cursor: pointer;
}
header ul li:hover{
    background-color: rgba(255, 255, 255, 0.89);
    color: rgb(0, 0, 0);
}
.bg-img img{
        width: 100%
}
.footer{
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 35%;
    position: absolute;
    color: white;
    font-family: 'Aboreto', cursive;
}
.section{
    min-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section h2{
    padding-top: 100px;
    font-size: 50px;
    font-family: 'Aboreto', cursive;
}
.section p{
    padding: 40px 200px 40px 200px;
    font-family: 'Explora', cursive;
    font-size: 25px;
    font-weight: 600;
}
footer {
    height: 40px;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.356);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p{
    font-size: large;
}
.section .images .img{
    height: auto;
    width: 300px;
    padding: 0px 20px 5px 0px;
}
.section .images{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section .images .names{
    display: flex;
    text-align: center;
    padding: 0px 20px 80px 20px;
}
.section .images .names h3{
    padding: 0px 120px 0px 120px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}
.section2{
    min-height: 700px;
    background-color: black;
    display: flex;
    flex-direction: column;
}
.section2 .text{
    height: 200px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    font-family: 'Goldman', cursive;
    font-weight: lighter;
    font-size: 30px;
}
.section2 .horizontal_box{
    height: 130px;
    width: 60%;
    background-color: white;
     margin-left: 260px; 
    align-items: center;
    left: 40px;
}
#hb{
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section2 .horizontal_box h3{
    font-family: 'Kanit', sans-serif;
    color: rgba(0, 0, 0, 0.596);
}
.section2 .vertical_3_boxes{
    height: 450px;
    width: 60%;
     margin-left: 260px; 
     margin-top: 40px;
     margin-bottom: 30px;
     display: flex;
     justify-content: space-between;
}
.section2 .vertical_3_boxes .v_ind{
    background-color: white;
}
.section2 .vertical_3_boxes .v_ind h3{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.596);
    font-family: 'Goldman', cursive;
}
.section2 .vertical_3_boxes .v_ind h4{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    color: rgba(0, 0, 0, 0.904);
    font-family: 'Goldman', cursive;
}
.section2 .vertical_3_boxes .v_ind img{
   width: 200px;
}
.form{
    min-height: 500px;
    display: flex;
    flex-direction: column;
}
.form .form_heading{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 70px;
    font-family: 'Quicksand', sans-serif;
}
.actual_form form #fname{
    margin-left: 350px;
    margin-top: 90px;
    margin-right: 5px;
    width: 200px;
    height: 30px;
    padding-left: 10px;
}
.actual_form form #mname, #lname{
    margin-right: 5px;
    width: 200px;
    height: 30px;
    padding-left: 10px;
}
.actual_form form #number, #email{
    margin: 10px 0px 0px 350px ;
    height: 30px;
    width: 400px;
    padding-left: 10px;
}
.actual_form form .shark_tank, .celebrities{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    padding:20px 0px 0px 352px;
    font-size: 17px;
}
.actual_form form .shark_tank .shark_tank_radio, .celebrities_checkbox{
    padding-top: 10px;
}
.actual_form form #feedback{
    margin:15px 0px 0px 350px;
    height: 100px;
    width: 500px;
}
.actual_form form #feedback::placeholder{
    top: -30px;
    position: relative;
    left: 10px;
    font-size: 15px;
}
.celebrities #name1, #name2, #name3, #name4, #name5{
    margin-top: 7px;
}
.actual_form form .shark_tank .shark_tank_radio #st1, #st2, #st3{
    margin-top: 5px;
}
#submit{
    margin:60px 0px 60px 605px;
    height: 50px;
    width: 130px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 900;
    font-size: medium;
    border: 3px solid black;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.808);
    color: white;
}
#submit:hover{
    background-color: rgba(238, 21, 21, 0.082);
    color: black;
    cursor: pointer;
}